python-chess==0.31.3
python-dotenv==0.14.0
requests==2.24.0
spotipy==2.13.0
youtube-dl==2020.7.28
youtube_search==1.1.0
discord.py[voice]
Pillow==7.2.0
# and dicord.py from source https://github.com/Rapptz/discord.py.git and its reqirements
